* {
    box-sizing: border-box;
    z-index: 5;
}

:root {
    --button-primary: #ED145B;
    --icon-blue: #0F87B0;
    --text-clients: #BEBEC0;
    --compensation-bg: #EDF6FF;
    --circle-border: #2CBFF7;
    --gradient-secondary: linear-gradient(to bottom, #26B2EC, #0660B2);
}

body {
    padding: 0;
    margin: 0;
}

.header {
    display: flex;
    position: relative;
    flex-direction: column;
    align-items: center;
    background-position: center;
    background-size: cover;
    min-height: 70vh;
    padding: 4em 2em;
    
}

.header::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    filter: brightness(40%) ;
    background-image: url('../media/airport__small.jpg');
    z-index: 0;
}

.header__title {
    color: white;
    font-family: 'Monserrat', sans-serif;
    font-size: 42px;
    margin: 0;
    text-align: center;
}

.header__descr {
    text-align: center;
    max-width: 230px;
    color: white;
    font-family: 'Monserrat', sans-serif;
    margin-top: auto;
    margin-bottom: 1.5em;
}

.button {
    border-radius: 5px;
}

.header__button {
    border: none;
    overflow: none;
    max-width: 230px;
    height: 50px;
    font-family: 'Monserrat', sans-serif;
    background-color: var(--button-primary);
    color: white;
    font-weight: bold;
    font-size: 18px;
    margin: 0;
}

.section__benefits {
    font-family: 'Monserrat', sans-serif;
}

.benefits__grid {
    display: grid;
    padding: 2em 3em;
}

.benefit__wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 2em;
}

.benefit__icon {
    margin-bottom: 2em;
    color: var(--icon-blue);
}

.benefit__text {
    font-weight: bold;
}

.starts__wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 4em;
}

.start__bar {
    display: flex;
    margin-bottom: 1em;
}

.start {
    font-size: 30px;
    margin: 0 5px;
    color: var(--icon-blue);
}

.start__text {
    font-weight: bold;
}

.clients__grid {
    display: grid;
}

.clients__grid > span {
    display: flex;
    justify-content: center;
    font-size: 30px;
    margin-bottom: .5em;
    color: gray;
}

.clients__grid > span > i {
    margin-left: 10px;
}

.section__compensation {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--compensation-bg);
    padding: 2em;
    font-family: 'Monserrat', sans-serif;
}

.compensation__title {
    text-align: center;
    margin-bottom: 3em;
    max-width: 230px;
    font-weight: bold;
}

.compensation__subtitle {
    text-align: center;
    max-width: 230px;
    font-weight: bold;
}

.compensation__descr {
    text-align: center;
    max-width: 230px;
    margin-bottom: 3em;
    font-weight: bold;
}

.prices__grid {
    display: grid;
    margin-bottom: 3em;
}

.price__wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
    margin-bottom: 2em;
    max-width: 230px;
}

.price__circle {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 140px;
    width: 140px;
    border: solid 2px var(--circle-border);
    border-radius: 100%;
    margin-bottom: 1em;
}

.price__circle > span {
    font-size: 25px;
    font-weight: bold;
}

.price__text {
    font-weight: bold;
    text-align: center;
}

.primary {
    background-color: var(--button-primary);
}

.secondary {
    background: var(--gradient-secondary)
}

.large__button {
    border: none;
    overflow: none;
    height: 50px;
    width: 100%;
    font-family: 'Monserrat', sans-serif;
    color: white;
    font-weight: bold;
    font-size: 18px;
    margin: 0;
    padding: 0 3em;
    margin-bottom: 3em;
}

.section__howitworks {
    font-family: 'Monserrat', sans-serif;
    padding: 1em 2em;
}

.howitworks__title {
    text-align: center;
    font-weight: bold;
    margin: 0;
    margin-bottom: 10px;
}

.howitworks__subtitle {
    text-align: center;
    margin: 0;
    margin-bottom: 2em;
}

.steps.grid {
    display: grid;
}

.step__wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 2em;
}

.step__icon {
    font-size: 110px;
    margin-bottom: 15px;
    color: var(--icon-blue);
}

.step__name {
    font-size: 35px;
    font-weight: bold;
    margin-bottom: .5em;
    text-align: center;
}

.step__descr {
    text-align: center;
    padding: 0 2em;
}

.first__separator {
}

.second__separator {
    background-color: #eaeaea;
}

.second__separator > svg {
    margin-bottom: -8px;
}

.section__comments {
    font-family: 'Monserrat', sans-serif;
    padding: 1em 2em;
}

.comments__title {
    text-align: center;
    font-weight: bold;
    margin-bottom: 3em;
    padding: 0 1em;
}

.comment__wrapper {
    display: flex;
    flex-direction: column;
    margin-bottom: 3em;
}

.social__wrapper {
    display: flex;
}

.avatar__wrapper {
    height: 50px;
    min-width: 50px;
    overflow: hidden;
    margin-right: 10px;
}

.avatar__wrapper > img {
    height: 50px;
    width: auto;
}

.descr__name {
    font-size: 13px;
}

.descr__name > i {
    color: var(--button-primary);
    margin-left: 5px;
}

.descr__date {
    color: var(--text-clients);
    font-size: 11px;
}

.actions {
    margin-left: auto;
}

.content__wrapper {
    display: flex;
    flex-direction: column;
}

.content__starts {
    font-size: 11px;
    font-weight: bold;
    margin-top: 15px;
    margin-bottom: 5px;
}

.content__text {
    font-size: 13px;
}

.comments__more--text {
    text-align: center;
}

.comments__facebook--wrapper {
    display: flex;
    justify-content: center;
    max-height: 50px;
    overflow: hidden;
    margin-bottom: 3em;
}

.facebook__logo {
    height: auto;
    max-width: 140px;
}

.section__claim {
    display: flex;
    flex-direction: column;
    font-family: 'Monserrat', sans-serif;
}

.claim__banner {
    display: flex;
    flex-direction: column;
    position: relative;
    min-height: 350px;
    width: 100%;
    background-size: cover;
    background-position: center;
    padding: 1em 2em;
    margin-bottom: 1em;
}

.claim__banner::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('../media/airport_2_small.jpg');
    background-position: center;
    filter: brightness(40%) ;
    z-index: 0;
}

.claim__title {
    color: white;
    z-index: 5;
    font-size: 35px;
    font-weight: bold;
}

.claim__banner .button {
    margin-top: auto;
}

.logo__wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 2em;
}

.claim__logo {
    font-size: 45px;
    margin-right: 15px;
    color: var(--icon-blue);
}

.logo__text {
    color: #777;
    font-size: 20px;
}

footer {
    font-family: 'Monserrat', sans-serif;
    color: #777;
    text-align: right;
    padding: 1em 2em;
}